.projects__filter {
  margin-bottom: 1rem;
  strong {
    font-size: 24px;
    text-transform: uppercase;
  }
  &__item {
    cursor: pointer;
    font-size: 24px;
    text-transform: capitalize;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    &:first-child {
      padding-left: 0;
    }
    &:hover,
    &--active {
      text-decoration: underline;
    }
  }
}
